@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<br /><hr />
<p class="text-danger">@ViewBag.Error</p>
<br />
<p class="text-success">@ViewBag.Insert</p>
<p class="text-success">@ViewBag.InsertDone</p>
<br />
<p class="text-success">@ViewBag.Read</p>
<p class="text-success">@ViewBag.ReadDetails</p>
<p class="text-success">@ViewBag.ReadDone</p>
<br />
<p class="text-success">@ViewBag.Update</p>
<p class="text-success">@ViewBag.UpdateDetails</p>
<p class="text-success">@ViewBag.UpdateDone</p>
<br />
<p class="text-success">@ViewBag.Delete</p>
<p class="text-success">@ViewBag.DeleteDone</p>